@import "tailwindcss";
@font-face {
  font-family: 'Osiris';
  src: url('/fonts/Osiris.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
}

.main-landing {
  height: 80vh;
}

.osiris {
  font-family: "Osiris", sans-serif;
  line-height: 0.3lh;
  margin-left: 5px;
}

h1 {
  line-height: 2.5lh;
  font-size: 72px;
}

.three-container {
  width: 50vw; /* 50% del ancho de la ventana */
  height: 100vh; /* altura completa */
  position: fixed;
  right: 10vh;
  top: 10vw;
  background-color: transparent;
  pointer-events: none; /* opcional si no querés que capture eventos */
}
