@import "tailwindcss";

body {
  background-color: black;
  width: 100%;
  height: 100%;
}

.main-landing {
  height: 60vh;
}

.three-container {
  width: 50vw; /* 50% del ancho de la ventana */
  height: 100vh; /* altura completa */
  position: fixed;
  right: 10vh;
  top: 10vw;
  background-color: transparent;
  pointer-events: none; /* opcional si no querés que capture eventos */
}
